Code/ws-store-service-client/ws-store-service-0.0.1-SNAPSHOT.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.store.security.agh.edu.pl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="StoreManagerService" targetNamespace="http://service.store.security.agh.edu.pl/">
	<wsdl:types>
		<xs:schema xmlns:tns="http://service.store.security.agh.edu.pl/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://service.store.security.agh.edu.pl/">
			<xs:complexType name="storeStateRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="product" type="tns:product" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="product">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="storeStateResponse">
				<xs:sequence>
					<xs:element name="count" type="xs:int" />
					<xs:element minOccurs="0" name="product" type="tns:product" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getStoreState" nillable="true"
				type="tns:storeStateRequest" />
			<xs:element name="getStoreStateResponse" nillable="true"
				type="tns:storeStateResponse" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getStoreState">
		<wsdl:part element="tns:getStoreState" name="getStoreState"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getStoreStateResponse">
		<wsdl:part element="tns:getStoreStateResponse" name="getStoreStateResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="StoreManager">
		<wsdl:operation name="getStoreState">
			<wsdl:input message="tns:getStoreState" name="getStoreState"></wsdl:input>
			<wsdl:output message="tns:getStoreStateResponse" name="getStoreStateResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StoreManagerServiceSoapBinding" type="tns:StoreManager">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getStoreState">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getStoreState">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getStoreStateResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StoreManagerService">
		<wsdl:port binding="tns:StoreManagerServiceSoapBinding"
			name="StoreManagerPort">
			<soap:address location="http://localhost:8080/ws-store-service-0.0.1-SNAPSHOT" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>